@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --ciano: rgb(13, 224, 224);
    --fundo: #2c2525;
    --red: #b93030;
    --black: #0000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: "Arial", sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

a:hover {
    color: #ada3a3;
    opacity: .9;
}

/* NavBar Header */

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #778899;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
    z-index: 5;
}

.home {
    font-size: 20px;
    margin-right: 110px;
}
  
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a{
    text-decoration: none;
}

.nav-list li {
    letter-spacing: 3px;
    margin-right: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
.nav-list.active {
    transform: translateX(0);
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      z-index: 5;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #778899;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-top: 1px solid #708090;
      transform: translateX(100%);
      transition: 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        align-items: center;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
        margin-right: 5%;
    }
}

/* Hero */

#hero {
    height: 100vh;
    background: #708090;
    align-items: center;
}

.hero-container {
    padding-top: 215px;
    position: relative;
    font-size: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.hero-container h1 {
    margin-left: 5%;
    margin-top: 30px;
    text-align: center;
}

.hero-container h3 {
    text-align: center;
    margin-left: 3%;
}

.hero-container .typed {
    color: #b93030;
    font-family: sans-serif;
    position: relative;
    font-weight: 600;
    text-shadow: 0 0 12px #b93030;
}

/* About main */

#main {
    background-color: #ececec;
    height: 100vh;
}

#about {
    margin-left: 32px;
    margin-right: 32px;
}

#about h1 {
    color: #000000;
    padding-top: 13px;
}

#about p {
    color: #000000;
    text-indent: 20px;
    font-size: 19px;
    margin: 8px;
    text-align: justify;
}

.info {
    display: flex;
}

.list {
    margin-top: 32px;
    margin-left: 38px;
}

.info img {
    margin-left: 32px;
    margin-top: 26px;
    border-radius: 32px;
    width: 400px;
    height: 400px;
}

.info p {
    font-size: 19px;
    text-align: right;
    color: #000000;
}

.list-info {
    color: #000000;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.list-info a {
    text-decoration: underline;
    color: rgb(219, 27, 27);
}

.list-info i {
  color: #4e9ae6;
  margin-right: 10px;
}

.list-info li {
  list-style: none;
  margin-bottom: 32px;
}

/* Projects Main */

#projects {
  background-color: rgb(255, 255, 255);
  padding-top: 7px;
  margin-left: 32px;
  height: 100vh;
}

#projects h1 {
  color: #000000;
  text-align: left;
  margin-top: 32px;
  text-shadow: 0 0 12px black;
}

#projects p {
    text-indent: 20px;
    margin-top: 12px;
    text-align: justify;
}

#projects img {
    height: 200px;
    border-radius: 5px;
    border: 1px solid green;
    width: 200px;
    margin: 26px;
}

.flex-proje {
    display: grid;
    justify-content: space-between;
}

.start {
    align-items: start;
    margin-left: 250px;
}
  
.end {
    align-items: end;
    margin-left: 250px;
}

/* Contact Main*/

#foms-contact {
  background-color: #110f0f;
  padding-top: 35px;
}

.contact-form {
  margin-left: 35%;
  padding-bottom: 40px;
  max-width: 32rem;
  font-size: 1.125rem;
}

.contact-form h1 {
    text-align: center;
    margin-bottom: 32px;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
  display: block;
  padding: 1rem;
  background: #0072c4;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #09d;
}

/* Footer Main*/

footer{
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: black;
}

.info-footer {
    display: flex;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

/* Responsividade */

@media (max-width: 935px) {
    .hero-container h1 {
        text-align: center;
        margin-left: 5%;
    }

    .hero-container h3 {
        text-align: center;
        margin-left: 5%;
    }
}