@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --ciano: rgb(13, 224, 224);
    --fundo: #2c2525;
    --verde-claro: #27946a;
    --verde-escuro: #005031;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    height: 9000px;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-size: 49px;
    font-family: "Raleway", sans-serif;
}

p {
    text-indent: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}
  
a:hover {
    color: #27946a;
    text-decoration: none;
}

/* Header */

.nav-container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem {
    background-color: #19272e;
    padding: 10px 4%;
}

header.rolagem i {
    color: #27946a;
}

header i {
    font-size: 30px;
    color: #ffffff;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: #19272e;
    background-image: linear-gradient(to right, #27946a, #005031);
    margin-right: 32px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

/* Hero */

#hero {
    height: 100vh;
    background-image: url('../img/fundo.jpg');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
}

.hero-container {
    font-size: 26px;
    padding-top: 250px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.hero-container .typed {
    position: relative;
    color: var(--ciano);
    font-size: 50px;
    font-weight: 600;
}

.hero-container h1{
    font-size: 79px;
    color: #FFF;
}

.typed:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border-left: 2px solid var(--ciano);
    animation: animate 4s steps(15) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 8px);
    }
    100%{
        left: 0%;
    }
}
  
@media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
}
  
@media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}

/* Conteúdo */

#main {
    background-color: #ffffff;
    display: flex;
}

#main img {
    border-radius: 32px;
    box-shadow: 10px 17px 33px 1px black;
    margin: 60px;
    width: 500px;
    height: 600px;
}

#about {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 32px;
    margin-right: 32px;
    text-align: justify;
}

#about h1 {
    color: #000000;
}
