* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    height: 9000px;
    background-color: #19272e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: "Raleway", sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}
  
a:hover {
    color: #27946a;
    text-decoration: none;
}

/* Header */

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #19272e;
    padding: 10px 4%;
}

header.rolagem i{
    color: #27946a;
}

header i{
    font-size: 30px;
    color: #ffffff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #ffffff;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: #19272e;
    background-image: linear-gradient(to right, #27946a, #005031);
    margin-right: 32px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

/* Hero */

#hero {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: #853a3a;
}


#hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero-container {
    position: relative;
    margin-top: 250px;
    z-index: 2;
    min-width: 300px;
    text-align: left;
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero img {
    border-radius: 50%;
    margin-top: 200px;
    width: 350px;
    height: 350px;
}
  
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
  
#hero h2 span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}
  
@media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
}
  
@media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}

/* Conteúdo */

#main {
    background-color: #19272e;
}