* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #23232e;
    display: flex;
}

h1 {
    color: #fff;  
    text-align: center;
}

p {
    color: #2ca096;
    margin-bottom: 50px;
    font-size: 26px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.hero-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 38%;
    margin-top: 260px;
}