/* Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Gerais */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

body {
  background: #2b2828;
}

/* Topo*/
.topo {
  display: flex;
  
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

/* Container*/

.container {
  height: 500px;
  width: 300px;
  background-color: #242222;
  box-shadow: 0 0 12px #000000;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 70px;
  margin-left: 520px;
}

.container h1 {
  padding-top: 9px;
  text-align: center;
}

/* Lista de Tarefas */

.task-list {
  display: grid;
  gap: 8px;
}

/* Tarefas*/

.tarefa {
  height: 35px;
  width: 270px;
  text-align: center;
  padding: 0 4px 0 4px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: #b4adad8f;
  border-radius: 15px;
  margin: 23px 8px 8px 8px;
}

hr {
  margin-top: 8px;
}

.tarefa i {
  color: rgb(226, 175, 36);
  font-size: 19px;
  cursor: pointer;
  margin-left: 50px;
}

.tarefa p {
  text-align: center;
  color: #fff;
}