/* Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Gerais */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  opacity: 0.9;
}

p {
  font-size: 13px;
  color: #757070;
}

body {
  background: #2b2828;
}

/* Topo*/
.topo {
  display: flex;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.topo h3 {
  padding-top: 9px;
  text-align: center;
}

/* Container*/
.container {
  height: 500px;
  width: 300px;
  background-color: #242222;
  box-shadow: 0 0 12px #000000;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 70px;
  margin-left: 520px;
}

/* Info*/
.info {
  background-color: #1C1818;
  height: 300px;
  width: 283px;
  padding: 0 6px;
  border-radius: 15px;
  margin: 8px;
  margin-bottom: 0;
}

.info ul li {
  color: #d8cfcf;
  display: grid;
  padding: 3px 0 0 13px;
  text-align: left;
  list-style: none;
}

.info p {
  color: #d8cfcf;
  padding: 10px 0 0 10px;
  text-align: left;
  font-size: 16px;
}

/* Bottom */
.bottom {
  display: flex;
  margin-top: 26px;
  justify-content: space-around;
}

.bottom p {
  color: #000000;
}

.bottom a {
  color: #000000;
}

#save {
  height: 30px;
  width: 101px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  background-color: #E2AF24;
}

#save p {
  color: #000000;
  font-size: 19px;
}

#del {
  height: 30px;
  width: 35px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  background-color: #E2AF24;
}

#del i {
  font-size: 19px;
}

/* Menu */
nav {
  background-color: #5a5656;
  margin-top: 54px;
  height: 46px;
  padding: 11px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
}

nav a {
  color: #000000;
  font-size: 21px;
}